.ceremony-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f8ff;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.ceremony-title {
  font-size: 2.25rem; /* Tailwind's text-4xl */
  font-weight: 600;   /* Tailwind's font-semibold */
  margin-bottom: 1rem;
}

.ceremony-text {
  font-size: 1.125rem; /* Tailwind's text-lg */
}