body {
  margin: 0;
  font-family: Calibri, 'Franklin Gothic Medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  max-width: 100%;
}

code {
  font-family: Calibri, 'Franklin Gothic Medium';
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
}

#root {
  overflow-x: hidden;
  max-width: 100%;
}