body {
  margin: 0;
  font-family: Calibri, 'Franklin Gothic Medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Calibri, 'Franklin Gothic Medium';
}

html {
  scroll-behavior: smooth;
}